@use "sass:math";

@use "variables" as *;

// ----------------------------------------------
// container
// ----------------------------------------------
@mixin container {
  display: block;
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;

  &:empty {
    display: none;
  }
}

// ----------------------------------------------
// fluid-fontsize
// ----------------------------------------------
@mixin fluid-fontsize {
  /* case: base */
  font-size: 1em;

  /* case: fluid range */
  $width-min: $viewport-width_min + 2 * $viewport-margin_min;
  $width-max: $viewport-width_max + 2 * $viewport-margin_max;

  $f-diff: $fontsize_max - $fontsize_min;
  $w-diff: $width-max - $width-min;
  
  $current: $width-min;
  $step: $w-diff * 0.1;
  
  @while $current < $width-max {
    $factor: math.div($current - $width-min, $w-diff);
    @media all and (min-width: $current) {
      font-size: $fontsize_min + $f-diff * $factor;
    }
    $current: $current + $step;
  }

  /* case: large */
  @media all and (min-width: $width-max) {
    font-size: $fontsize_max;
  }
}

// ----------------------------------------------
// fluid-margin
// ----------------------------------------------
@mixin fluid-margin {
  /* case: base */
  width: calc(100% - 2 * #{$viewport-margin-min});
  margin-right: $viewport-margin_min;
  margin-left: $viewport-margin_min;

  /* case: fluid range */
  $width-min: $viewport-width_min + 2 * $viewport-margin_min;
  $width-max: $viewport-width_max + 2 * $viewport-margin_max;

  $m-diff: $viewport-margin_max - $viewport-margin-min;
  $w-diff: $width-max - $width-min;
  
  $current: $width-min;
  $step: $w-diff * 0.1;

  @while $current < $width-max {
    $factor: math.div($current - $width-min, $w-diff);
    @media all and (min-width: $current) {
      $value: $viewport-margin-min + $m-diff * $factor;
      margin-left: $value;
      margin-right: $value;
      width: calc(100% - 2 * #{$value});
    }
    $current: $current + $step;
  }

  /* case: large */
  @media all and (min-width: $width-max) {
    width: $viewport-width_max;
    margin-left: auto;
    margin-right: auto;
  }
}