//
// Elements
//
// @use "elements" with (
//   $content-container: "body > main"
// );
@use "variables" as *;
@use "mixins" as *;
@use "fonts";
@use "layout";

//---------------------------------------------
// MODULE VARIABLES
// --------------------------------------------
$content-container: "body > main" !default;
// --------------------------------------------


#{$content-container} {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;

  /* selection background */
  ::selection {
    background-color: #d2d2d2;
  }

  /* hide scroll-bar */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;

  /* enable vertical scrolling */
  overflow-y: auto;

  -webkit-font-smoothing: antialiased;
  word-break: break-all;
}

/* ELEMENTS */
#{$content-container} {
  @import "inlines";
  @import "blocks";
}

/* ELEMENTS WITH THEME */
#{$content-container} {
  &[data-theme="light"] {
    @import "theme.light";
    
    background-color: $background-color;
    
    @import "inlines";
    @import "blocks";
  }
  
  
  &[data-theme="sepia"] {
    @import "theme.sepia";
    
    background-color: $background-color;
    
    @import "inlines";
    @import "blocks";
  }
  
  &[data-theme="dark"] {
    @import "theme.dark";
    
    background-color: $background-color;
    
    @import "inlines";
    @import "blocks";
  }
}

/* ZOOM */
#{$content-container} {
  $zoom-min: 0.5;
  $zoom-max: 2;
  $zoom-step: 0.1;

  $i: $zoom-min;
  
  @while $i <= $zoom-max {
    &[data-zoom="#{$i * 100}"] {
      font-size: $font-size * $i;
    }
    
    $i: $i + $zoom-step;
  }
}

/* ELEMENTS FONT */
#{$content-container} {
  &[data-font="kopubbatang"] {
    font-family: 'KoPub Batang', serif;
  }
  &[data-font="nanumgothic"] {
    font-family: 'Nanum Gothic', sans-serif;
  }
  &[data-font="nanummyeongjo"] {
    font-family: 'Nanum Myeongjo', serif;
  }
}