//
// index.scss
//

@use "./scss/elements.scss";


/*
 * Demonstration Page
 */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* locations */
$app-header: "body > header";
$app-footer: "body > footer";
$content-header: "body > main > header";
$content-footer: "body > main > footer";

@mixin icon {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0;
  padding: 0;
}

#{$app-header},
#{$app-footer},
#{$content-header},
#{$content-footer} {
  font-family: 'Roboto', sans-serif;

  .icon {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}


/* application header */
#{$app-header} {
  
  padding-top: 72px;
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1;
  
    display: flex;
    height: 72px;
    align-items: center;
    border-bottom: 1px solid #CCC;
    padding: 0 1.5em;
    font-size: 16px;
    
    @media (max-width: 640px) {
      font-size: 12px;
      
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      
      .center {
        display: none !important;
      }
    }
    
    /* dropdown */
    select {
      flex: 0 0 auto;

      font-family: sans-serif;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 50%;
      border: 1px solid black;
      border-radius: 1px;
      padding: 0.375em 1.625em 0.375em 1em;
      font-size: 1em;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
    
    .control + .control {
      margin-left: 0.75em;
    }

    .left {
      flex: 0 0 auto;
      font-family: sans-serif;
      font-size: 2.25em;
    }
    
    .center {
      flex: 1 1 auto;
      display: flex;
      padding: 0 1.5em;
    }
    
    .right {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      
      .control.zoom {
        display: inline-flex;
        align-items: center;
      }
      
      #zoom-plus, #zoom-minus {
        cursor: pointer;
        user-select: none;
        font-size: 1.625em;
      }
      
      #zoom-label {
        padding: 0 0.5em;
        font-size: 1.25em;
        cursor: pointer;
      }
      
      .percent::after {
        content: '%';
      }
    }
  }

}

/* application footer */
#{$app-footer} {
  padding-top: 72px;
  
  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1;
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    border-top: 1px solid #CCC;

    .github {
      font-family: sans-serif;
      font-size: 24px;
      padding: 0 12px;
    }
  }
}

/* content footer */
#{$content-footer} > nav {
  display: flex;
  flex-direction: row;
  margin: 0 0;

  /* back to TOC */
  a.back {
    display: flex;
    text-decoration: none;
    font-size: 16px;
    margin: 0 1px 0 0;
    flex-basis: 33.3%;
    padding: 24px 24px 24px 72px;
    align-items: center;
    position: relative;
    color: inherit;
    background: none;

    &::before {
      @include icon();

      content: 'arrow_back';
      left: 24px;
      position: absolute;
      font-family: 'Material Icons';
    }

    &::after {
      bottom: 0;
      content: '';
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      transition: background-color .2s, border .2s;
    }

    &:hover {
      outline: 0;
      text-decoration: none;
    }
  }

  a.forward {
    flex: 1;
    font-size: 24px;
    justify-content: flex-end;
    padding: 24px 72px 24px 24px;
    align-items: center;
    display: flex;
    position: relative;
    background: none;

    &::before {
      @include icon();

      content: 'arrow_forward';
      position: absolute;
      right: 24px;
    }
    &::after {
      bottom: 0;
      content: '';
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      transition: background-color .2s, border .2s;
    }
    &:hover {
      text-decoration: none;
      outline: 0;
    }
    .column {
      font-size: 24px;
      font-weight: 400;
      text-align: right;
      word-wrap: keep-all;

      h3 {
        font-size: 20px;
      }
    }
  }
}